<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	해당 xml 파일이 mapper 역할을 하기 위해 반드시 필요한 Doctype
	공식문서URL: https://mybatis.org/mybatis-3/configuration.html
 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 
	Mapper의 namespace 속성
	: 해당 매퍼파일을 호출하기 위해 정의한 인터페이스의 패키지를
	포함한 풀 경로를 기술한다. 해당 인터페이스는 컨트롤러와 Mapeer(DAO)
	사이에서 중재자 역할을 하는 서비스 객체로 사용된다.
 -->
<mapper namespace="mybatis.MybatisMemberImpl">

	<!-- 
	파라미터를 받는 두번째 방법으로 순서대로 0, 1... 로 기술한다.
	2개의 파라미터를 통해 select한 결과를 MemberVO 객체로 반환한다.
	 -->
	<select id="login" resultType="mybatis.MemberVO">
		SELECT * FROM member WHERE id=#{0} AND pass=#{1}
	</select>
</mapper>